* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fontStyle);
}

html {
  font-size: 62.5%;
}

:root {
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGray: hsl(0, 0%, 59%);
  --inputFontSize: 18px;
  --fontStyle: 'Rubik', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body, #root, .App {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.header-content, .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  position: relative;
  padding: 2rem 0rem;
  gap: 10px;
  height: 240px;
}

.header-content > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
}

.header-content > h1 {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .header-content > h1 {
      top: 20px;
  }
}

.main-content {
  gap: 50px;
}

#map {
  width: 100%;
  height: 700px;
}