.Info {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: min(90%, 1000px);
}

.Info > div {
    position: relative;
}

@media screen and (min-width: 1200px) {
    .Info {
        flex-direction: row;
        justify-content: space-between;
        padding: 5rem;
    }

    .Info > div + div::before {
        content: "";
        background-color: hsl(0, 0%, 70%);
        position: absolute;
        top: -50%;
        left: -50px;
        width: 1px;
        height: 100px;
    }
}

.Info h2, .Info p {
    text-align: center;
}

.Info h2 {
    font-size: 2rem;
    font-weight: 700;
}

.Info p {
    font-size: 1.6rem;
    color: var(--darkGray);
}