.Search {
    width: min(90%, 500px);
}

.Search form {
    display: flex;
}

.search-input > input, .search-button > button {
    padding: 1.5rem;
    border: 1px solid hsl(0, 0%, 0%);
    height: 50px;
}

.search-input {
    flex-grow: 1;
}

.search-input > input {
    border-radius: 10px 0px 0px 10px;
    width: 100%;
}

.search-button > button {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    border-radius: 0px 10px 10px 0px;
}